django
celery 
redis 
django-modeltranslation
django-allauth
django-rosetta
django-ckeditor
django-mptt
django-filebrowser-no-grappelli
django-tinymce4-lite 
django-rest-framework
django-crispy-forms
django-import-export
django-decouple 
django-celery-beat 
django-redis
channels
channels_redis 
Pillow 
transliterate 
pandas 
bs4 
selenium 
xlsxwriter

