<footer>
    <a href="{% url 'starway_index' %}">Головна</a>
    <a href="{% url 'starway_contacts' %}">Контакти</a>
    <a href="{% url 'starway_profile' %}">Профіль</a>
    <a href="{% url 'starway_about' %}">Про Нас</a>
    <a href="{% url 'starway_how_it_works' %}">Як все працює</a>
    <a href="{% url 'starway_story' %}">Наша Історія</a>
    <a href="{% url 'starway_team' %}">Наша Команда</a>
    <a href="{% url 'starway_become_member' %}">Стати членом команди</a>
    <a href="{% url 'starway_service_categories' %}">Категорії послуг</a>
    <a href="{% url 'starway_case_categories' %}">Категорії кейсів</a>
</footer>
