<div class="form__auth">

    <div class="form__auth_wrap form-register" id="form-register">
        <div class="form__auth_header">
            <div class="form__auth_header-title">Зареєструватися</div>
        </div>
        <div class="form__auth_main">

            <div class="group_box">
                <label for="user_name">Email<span>*</span></label>
                <input type="text" id="user_name" name="email" value="">
            </div>
            <div class="group_box">
                <label for="user_name">Логін<span>*</span></label>
                <input type="text" id="user_name" name="login" value="">
            </div>
            <div class="group_box">
                <label for="user_name">Пароль<span>*</span></label>
                <input type="text" id="user_name" name="password" value="">
            </div>
            <div class="group_box">
                <label for="user_name">Повторіть пароль<span>*</span></label>
                <input type="text" id="user_name" name="password2" value="">
            </div>
            <div class="group_box">
                <label for="user_name">Ім’я та прізвище<span>*</span></label>
                <input type="text" id="user_name" name="full_name" value="">
            </div>
            <div class="group_box">
                <label for="user_name">Номер телефону<span>*</span></label>
                <input type="text" id="user_name" name="phone" value="">
            </div>     
        </div>
        <div class="form__auth__control">
            <div class="form__auth__control_btn btn-product">Зареєструватися</div>
            <div class="form__auth__control__info">Вже зареєстровані?<a  href="" class="form-sign_in">Увійти</a></div>
            <div class="form__auth__control__info">Забули пароль?<a href="{% url 'account_reset_password' %}">Відновити пароль</a></div>
        </div>
    </div>

    <div class="form__auth_wrap form-login" id="form-login">
        <div class="form__auth_header">
            <div class="form__auth_header-title">Увійти</div>
        </div>
        <div class="form__auth_main">
            <div class="group_box">
                <label for="user_name">Email<span>*</span></label>
                <input type="text" id="user_name" name="user_name" value="">
            </div>
            <div class="group_box">
                <label for="user_name">Пароль<span>*</span></label>
                <input type="text" id="user_name" name="user_name" value="">
            </div>
        </div>
        <div class="form__auth__control">
            <div class="form__auth__control_btn btn-product" >Увійти</div>
            <div class="form__auth__control__info">Ще не зареєстровані?<a  href="" class="form-sign_up">Зареєструватися</a></div>
            <div class="form__auth__control__info">Забули пароль?<a href="{% url 'account_reset_password' %}">Відновити пароль</a></div>
        </div>
    </div>

    <div class="form_send_user_ok" id="form_send_ok">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle" class="svg-inline--fa fa-check-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="#0c8968" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path>
        </svg>
        <div class="form_send_user_ok-title">Вашу форму відправленно, менеджер з вами звяжиться в найближчий час</div>
    </div>

</div>