{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!DOCTYPE html>
<html>
<head>
  <!-- head -->
  {% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{page.meta_title}}</title>
  <meta name="description" content="{{page.meta_descr}}"/>
  <meta name="keywords" content="{{page.meta_key}}" />
  {% block favicon %}
  <link rel="shortcut icon" type="image/png" href="/static/favicon.ico">
  {% endblock favicon %}
  {% block hreflang %}
  {% include 'core/includes/hreflang.html' %}
  {% endblock hreflang %}


  {% block ogimage %}
  {% if LANGUAGE_CODE == 'ru' %}
  <meta property="og:image" content="/static/og/square_ru.png">
  <meta property="og:image" content="/static/og/rectangle_ru.png">
  <meta property="og:image" content="/static/og/square_ru.png">
  {% elif LANGUAGE_CODE == 'uk' %}
  <meta property="og:image" content="/static/og/square_uk.png">
  <meta property="og:image" content="/static/og/rectangle_uk.png">
  <meta property="og:image" content="/static/og/square_uk.png">
  {% elif LANGUAGE_CODE == 'en' %}
  <meta property="og:image" content="/static/og/square_en.png">
  <meta property="og:image" content="/static/og/rectangle_en.png">
  <meta property="og:image" content="/static/og/square_en.png">
  {% endif%}
  {% endblock ogimage %}
  {% block robots %}
  <meta name="robots" content="noindex,nofollow">
  {% endblock robots %}
  <!-- css, fonts -->
  {% block styles %}{% endblock styles%}
  {% endblock head %}
</head>
<body>
  {% block header %}{% endblock header %} 
  {% block content %}{% endblock content %}
  {% block extra_content %}{% endblock extra_content %}
  <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
  {% block scripts %}{% endblock scripts%}
  {% block extra_scripts %}{% endblock extra_scripts%}
  
</body>
</html>


