<!DOCTYPE html>
<html>
<head>
  <!-- head -->
  {% block head%}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{page.meta_title}}</title>
  <meta name="description" content="{{page.meta_descr}}"/>
  <meta name="keywords" content="{{page.meta_key}}" />
  <link rel="shortcut icon" type="image/png" href="/static/favicon.ico">
  {% include 'core/includes/hreflang.html' %}
  <!-- <meta name=“robots” content=“noindex,nofollow”> -->
  <!-- css, fonts -->
  {% block styles%}{% endblock styles%}
  {% endblock head %}
</head>
<body>
  <!-- header, navbar -->
  {% block header %}{% endblock header %} 
  <!-- main content -->
  {% block content %}{% endblock content %}
  <!-- footer, modaal, loader --> 
  {% block extra_content %}{% endblock extra_content %}
  <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
  <!-- scripts -->
  {% block scripts%}{% endblock scripts%}
</body>
</html>
