{%extends 'base.html'%}
{% block content %}
<main>

  <section class="blog-categorie">
    <div class="wrapper">
      <div class="blog-categorie_title">Поради</div>
      <div class="blog-categorie__wrap">


        {% for post_category in post_categories%}
        <div class="blog-categorie_item {% if forloop.counter == 1%}blog-categorie_item-main{%endif%}">
          <div class="blog-categorie_item-img">
            <div class="blog-categorie_item-img_bg"></div>
            <img src="{{post_category.image.url}}" alt="{{post_category.alt}}">
          </div>
          <div class="blog-categorie_item_box">
            <div class="blog-categorie_item-title">{{post_category.title}}</div>
            <div class="blog-categorie_item-text">{{post_category.description}}</div>
            <a href="{{post_category.get_absolute_url}}">
              <div class="blog-categorie_item-btn btn btn-while">
                  Більше
              </div>
            </a>
          </div>
        </div>
        {% endfor %}


<!--

        <div class="blog-categorie_item blog-categorie_item-main">
          <div class="blog-categorie_item-img">
            <div class="blog-categorie_item-img_bg"></div>
            <img src="/static/img/test-jmg.jpg" alt="">
          </div>
          <div class="blog-categorie_item_box">
            <div class="blog-categorie_item-title">Обслуговування</div>
            <div class="blog-categorie_item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore…</div>
            <div class="blog-categorie_item-btn btn btn-while">Більше</div>
          </div>
        </div>

        <div class="blog-categorie_item">
          <div class="blog-categorie_item-img">
            <div class="blog-categorie_item-img_bg"></div>
            <img src="/static/img/mask.jpg" alt="">
          </div>
          <div class="blog-categorie_item_box">
            <div class="blog-categorie_item-title">Часті питання</div>
            <div class="blog-categorie_item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore…</div>
              <a class="blog-categorie_item-btn btn btn-while">Більше</a>
          </div>
        </div>

        <div class="blog-categorie_item">
          <div class="blog-categorie_item-img">
            <div class="blog-categorie_item-img_bg"></div>
            <img src="/static/img/mask.jpg" alt="">
          </div>
          <div class="blog-categorie_item_box">
            <div class="blog-categorie_item-title">Обслуговування</div>
            <div class="blog-categorie_item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore…</div>
            <a class="blog-categorie_item-btn btn btn-while">Більше</a>
          </div>
        </div>

        <div class="blog-categorie_item">
          <div class="blog-categorie_item-img">
            <div class="blog-categorie_item-img_bg"></div>
            <img src="/static/img/mask.jpg" alt="">
          </div>
          <div class="blog-categorie_item_box">
            <div class="blog-categorie_item-title">Часті питання</div>
            <div class="blog-categorie_item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore…</div>
              <a class="blog-categorie_item-btn btn btn-while">Більше</a>
          </div>
        </div>

        <div class="blog-categorie_item">
          <div class="blog-categorie_item-img">
            <div class="blog-categorie_item-img_bg"></div>
            <img src="/static/img/mask.jpg" alt="">
          </div>
          <div class="blog-categorie_item_box">
            <div class="blog-categorie_item-title">Фермеру</div>
            <div class="blog-categorie_item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore…</div>
              <a class="blog-categorie_item-btn btn btn-while">Більше</a>
          </div>
        </div>

-->



      </div>
    </div>
  </section>


</main>
{% endblock content %}
