{% extends 'base.html' %}
{% block styles%}
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">
<link rel="stylesheet" href="/static/css/slick.css">
<link rel="stylesheet" href="/static/css/ion.rangeSlider.min.css">

<link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">

<link rel="stylesheet" href="/static/css/slick-theme.css">
<link rel="stylesheet" href="/static/css/swiper.min.css">
<link rel="stylesheet" href="/static/css/style.min.css">
{% endblock styles%}
{% block content %}
<main>
  <section class="product">
    <div class="wrapper">
      <div class="breadcrumb_wrap">
        <a class="breadcrumb_item" href="{{item.category.parent.get_absolute_url}}">
          {{item.category.parent.title}}
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path fill="currentColor"
              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
            </path>
          </svg>
        </a>
        <a class="breadcrumb_item" href="{{item.category.get_absolute_url}}">
          {{item.category.title}}
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path fill="currentColor"
              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
            </path>
          </svg>
        </a>
        <a class="breadcrumb_item" href="{% url 'item' item.slug %}">
          {{item.title}}
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path fill="currentColor"
              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
            </path>
          </svg>
        </a>
      </div>
      <div class="product_wrap">
        <div class="product__main">
          <div class="product__main_section">
            <div class="swiper-container gallery-top">
              <div class="swiper-wrapper">
                {% for item_image in item.images.all %}
                <div class="swiper-slide"><img src="{{item_image.image.url}}" alt=""></div>
                {% endfor %}
                <!-- <div class="swiper-slide"><img src="/static/img/svg/14905.png" alt=""></div>
                <div class="swiper-slide"><img src="/static/img/svg/14905.png" alt=""></div>
                <div class="swiper-slide"><img src="/static/img/svg/14905.png" alt=""></div> -->
              </div>
              <!-- Add Arrows -->
              <div class="swiper-button-next swiper-button-white">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                  <path fill="#d4d4d4"
                    d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                  </path>
                </svg>
              </div>
              <div class="swiper-button-prev swiper-button-white">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                  <path fill="#d4d4d4"
                    d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z">
                  </path>
                </svg>
              </div>
            </div>
            <div class="swiper-container gallery-thumbs">
              <div class="swiper-wrapper">
                {% for item_image in item.images.all %}
                <div class="swiper-slide"><img src="{{item_image.image.url}}" alt=""></div>
                {% endfor %}
                <!-- <div class="swiper-slide"><img src="/static/img/svg/14905.png" alt=""></div>
                <div class="swiper-slide"><img src="/static/img/svg/14905.png" alt=""></div>
                <div class="swiper-slide"><img src="/static/img/svg/14905.png" alt=""></div> -->
              </div>
            </div>
          </div>
          <div class="product__main_section">
            <div class="product__main_section_header">
              <div class="in-stock">{{item.is_in_stock}}</div>
              <div class="title">{{item.title}}</div>
              <div class="info">
                <div class="info__price">
                  <div class="info__price_valid">{{item.price}} {{item.currency}}</div>
                  <div class="info__price_invalid">{{item.old_price}} {{item.currency}}</div>
                </div>
                <div class="info__star">
                  <!-- <div class="info__star_wrap">
                    <div class="info__star_item">
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="#e04d27"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </div>
                    <div class="info__star_item">
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="#e04d27"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </div>
                    <div class="info__star_item">
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="#e04d27"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </div>
                    <div class="info__star_item">
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="#e04d27"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </div>
                    <div class="info__star_item">
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="#e04d27"
                          d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                        </path>
                      </svg>
                    </div>

                  </div> -->
                  <!-- <div class="info__star_title">5 з 5</div> -->
                </div>
              </div>
            </div>
            <div class="product__main_section_main">

                <!-- {% for feature in item.features.all %}
                  {% if forloop.counter == 1 %}
                  {% include 'components/feature.html' %}
                  {% endif %}
                {% endfor %} -->
                Опис товару: <br>
                {{item.description}}
              </div>
              <div class="product__main_section_footer">
                <form class="form_product_item" action="index.html" method="post">
                  <input type="hidden" class="item_id" name="item_id" value="{{item.id}}">
                  <input type="hidden" class="cart_item_id" name="item_id" value="{{item.id}}">
              </div>
            <div class="product__main_section_footer">
              <form class="form_product_item" action="index.html" method="post">
                <input type="hidden" class="item_id" name="item_id" value="{{item.id}}">
                <input type="hidden" class="cart_item_id" name="item_id" value="{{item.id}}">
                <div class="product__group_description">
                  <div class="product__group_description_title">Кiлькість</div>
                  <div class="product__quantity" data-prise="19,50">
                    <div class="product__group_plus plus-btn">+</div>
                    <input class="product__quantity_count product__quantity_count-cadr" data-id="2" type="text" name="quantity" value="1" min="1">
                    <div class="product__group_minus minus-btn">-</div>
                  </div>
                </div>
                <div class="product__control">
                  <div class="btn btn-product add_basket">Додати в корзину</div>
                  <div data-item_id="{{item.id}}" class="btn btn-product btn_card-credit" data-item_id="{{item.id}}">Купити в кредит</div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="product__description_wrap">
          <div class="tab">
            <div class="tab_header">
              <div class="tab_header_item tab_header_item-active" data-item="characteristic">Xаректеристики</div>
              <div class="tab_header_item" data-item="response">Відгуки
                {% if item.reviews.all.exists %}
                <span>
              {{item.reviews.all.count}}
              </span>
                {% endif%}
            </div>
            </div>
            <div class="tab_main tab_main-active" id="characteristic">

              <div class="product__description">





                <div class="product__description__wrap">

                <div class="product__description__section_wrap">
                  <div class="product__description__wrap_bg"></div>

                  <div class="product__description__section">
                    {% for feature in item.features.all %}
                      {% if forloop.counter|divisibleby:"2" %}
                        {% include 'components/feature.html' %}
                      {% endif %}
                    {% endfor %}
                 </div>
                <div class="product__description__section">
                    {% for feature in item.features.all %}
                      {% if not forloop.counter|divisibleby:"2" %}
                          {% include 'components/feature.html' %}
                      {% endif %}
                    {% endfor %}
                  </div>



                </div>

              </div>


              <div class="product__description_control">
                <div class="btn btn-login btn-more">Читати більше </div>
              </div>
            </div>
            </div>
            <div class="tab_main" id="response">
              <div class="product_reviews">
                <div class="product_reviews-list">
                  {% for review in item.reviews.all %}
                  {% include 'components/review.html' %}
                  {% endfor %}

                </div>
                <div class="product_reviews-form">
                  <div class=" ">
                    <form class="" action="/create_review/" id="create_review" method="post">
                      {%csrf_token%}
                      <input type="hidden" name="item_id" value="{{item.id}}"/>
                      <div class="form__auth_header">
                        <div class="form__auth_header-title">Залишити відгук</div>
                      </div>
                      <div class="form__auth_main">
                        <div class="group_box">
                          <label for="review-user_name">Ім’я<span>*</span></label>
                          <input type="text" id="review-user_name" name="name" value="">
                        </div>
                        <div class="group_box">
                          <label for="review-user_phone">Телефон<span>*</span></label>
                          <input type="text" id="review-user_phone" name="phone" value="">
                        </div>

                        <div class="group_box">
                          <label for="review-user_text">Відгук<span>*</span></label>
                          <textarea id="review-user_text" name="text" rows="8"></textarea>
                        </div>

                      </div>
                      <div class="form__auth__control">
                        <input type="submit" class="form__auth__control_btn btn-product" value="Залишити відгук">
                      </div>
                    </form>

                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>





      </div>



  </section>
  <section class="section">
    <div class="wrapper">
      <div class="section_title section_title-center">Схожі товари</div>
      <div class="card-list__wrap">
        <div class="card-list__main card-list__related swiper-container">
          <div class="swiper-wrapper">
            {% for similar in item.similars%}
            {% include 'components/item_related.html' %}
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
  </section>
</main>
{% endblock content%}
{% block scripts%}
<script src="/static/js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="/static/js/slick.min.js" type="text/javascript"></script>
<script src="/static/js/maskinput.js" type="text/javascript"></script>
<script src="/static/js/jquery.fancybox.min.js" type="text/javascript"></script>
<script src="/static/js/ion.rangeSlider.min.js" type="text/javascript"></script>
<script src="/static/js/swiper.min.js" type="text/javascript"></script>
<script src="/static/js/validation.min.js" type="text/javascript"></script>
<script src="/static/js/script.js" type="text/javascript"></script>
<script src="/static/js/ajax_form.js" type="text/javascript"></script>
{% endblock scripts%}
