// main: ../style.sass

.field-tickets{
  display: flex;
  border: 1px solid #13293D;
  border-radius: 5px;
  height: 40px;
  color: inherit;
  border-color: inherit;
  width: 91%;
  cursor: pointer;

  &_input{
    width: 100%;
    height: 100%;
    & input{
      height: 100%;
      width: 100%;
      border: none;
      padding: 13px 19px;
      background: none;
    }
  }
  &__icon{
    border-left: 1px solid;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    & svg{
      width: 60%;
      height: auto;
    }
  }
}

.input__pl-min{
  position: relative;
  display: inline;
  &_minus,&_plus{
    height: 20px;
    width: 20px;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    & svg{
      width: 65%;
    }
    &:hover{
      & svg path{
        fill:#1599FC;
      }
    }


  }
  &_minus{
    left:  0px;
    transform:  translateY(-50%) translateX(-50%);
    @include  box-shadow(-3px 6px 10px 0px rgba(0,0,0,0.75));
  }
  &_plus{
    right: 0px;
    transform:  translateY(-50%) translateX(50%);
    @include  box-shadow(3px 6px 10px 0px rgba(0,0,0,0.75));
  }
  &_faild{
    background: #20BF55;
    height: 40px;
    width: 70px;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: #fff;

  }
}
