<div class="reviews">
<div class="reviews-header">
    <div class="reviews__left-part">
    <div class="reviews-author">{{review.name}}</div>
    <div class="reviews-date">{{review.created|date:'d.m.Y H:i'}}</div>
    </div>
    <div class="right__right-part">
    <div class="info__star">
        <div class="info__star_wrap">
            {% include 'components/star_svg.html' %}
            {% include 'components/star_svg.html' %}
            {% include 'components/star_svg.html' %}
            {% include 'components/star_svg.html' %}
            {% include 'components/star_svg.html' %}
        </div>
        <!-- <div class="info__star_title">5 з 5</div> -->
    </div>
    </div>
</div>
<div class="reviews-main">
    {{review.text}}
</div>
</div>