<div class="reviews">
<div class="reviews-header">
    <div class="reviews__left-part">
    <div class="reviews-author">Вадим степанович</div>
    <div class="reviews-date">21.12.2019</div>
    </div>
    <div class="right__right-part">
    <div class="info__star">
        <div class="info__star_wrap">
            {% include 'components/star_svg.html' %}
            {% include 'components/star_svg.html' %}
            {% include 'components/star_svg.html' %}
            {% include 'components/star_svg.html' %}
            {% include 'components/star_svg.html' %}
        </div>
        <!-- <div class="info__star_title">5 з 5</div> -->
    </div>
    </div>
</div>
<div class="reviews-main">
    Девушке подарил такую модель, действительно впечатлила своими характеристиками. Камера и правда идеальная, обновленное ПО обеспечивает хорошую работу процессора. Памяти достаточно, в флешке нет потребностей. Теперь и себе думаю такой
    взять.
</div>
</div>