<div class="profil__content_order-yes">
<h4 class="profil__content_title">Тестові демонстраційні замовлення</h4>


<div class="profil__order_item">
    <div class="profil__order_item-title"> Заказ № 13 (<a class="profil__content_link" href=" "> Удалить? </a>)</div>
    <table class="table">
    <thead>
        <tr>
        <th>#</th>
        <th> Название товара </th>
        <th>Количество </th>
        <th>Цена за единицу </th>
        <th>Сумма </th>
        <th>Статус </th>
        </tr>
    </thead>
    <tbody>

        <tr>
        <td>1</td>
        <td>ТОвар 1</td>
        <td>23</td>
        <td>17грн</td>
        <td>170грн</td>
        <td class="td_status" rowspan="4">Завершено</td>
        </tr>
        <tr>
        <td>1</td>
        <td>ТОвар 1</td>
        <td>23</td>
        <td>17грн</td>
        <td>170грн</td>
        </tr>
        <tr>
        <td>1</td>
        <td>ТОвар 1</td>
        <td>23</td>
        <td>17грн</td>
        <td>170грн</td>
        </tr>
        <tr>
        <td>1</td>
        <td>ТОвар 1</td>
        <td>23</td>
        <td>17грн</td>
        <td>170грн</td>
        </tr>
        <tr>
        <td colspan="4" style="text-align:right">Всього:</td><td>1168,80</td>
        </tr>
        <tr>

        </tr>
    </tbody>
    </table>
</div>


<div class="profil__order_item">
    <div class="profil__order_item-title"> Заказ № 13 (<a class="profil__content_link" href=" "> Удалить? </a>)</div>
    <table class="table">
    <thead>
        <tr>
        <th>#</th>
        <th> Название товара </th>
        <th>Количество </th>
        <th>Цена за единицу </th>
        <th>Сумма </th>
        <th>Статус </th>
        </tr>
    </thead>
    <tbody>

        <tr>
        <td>1</td>
        <td>ТОвар 1</td>
        <td>23</td>
        <td>17грн</td>
        <td>170грн</td>
        <td class="td_status" rowspan="4"> В обробці</td>
        </tr>
        <tr>
        <td>1</td>
        <td>ТОвар 1</td>
        <td>23</td>
        <td>17грн</td>
        <td>170грн</td>
        </tr>
        <tr>
        <td>1</td>
        <td>ТОвар 1</td>
        <td>23</td>
        <td>17грн</td>
        <td>170грн</td>
        </tr>
        <tr>
        <td>1</td>
        <td>ТОвар 1</td>
        <td>23</td>
        <td>17грн</td>
        <td>170грн</td>
        </tr>
        <tr>
        <td colspan="4" style="text-align:right">Всього:</td><td>1168,80</td>
        </tr>
        <tr>

        </tr>
    </tbody>
    </table>
</div>


<div class="profil__order_item">
    <div class="profil__order_item-title"> Заказ № 13 (<a class="profil__content_link" href=" "> Удалить? </a>)</div>
    <table class="table">
    <thead>
        <tr>
        <th>#</th>
        <th> Название товара </th>
        <th>Количество </th>
        <th>Цена за единицу </th>
        <th>Сумма </th>
        <th>Статус </th>
        </tr>
    </thead>
    <tbody>

        <tr>
        <td>1</td>
        <td>ТОвар 1</td>
        <td>23</td>
        <td>17грн</td>
        <td>170грн</td>
        <td class="td_status" rowspan="4"> Виконано</td>
        </tr>
        <tr>
        <td>1</td>
        <td>ТОвар 1</td>
        <td>23</td>
        <td>17грн</td>
        <td>170грн</td>
        </tr>
        <tr>
        <td>1</td>
        <td>ТОвар 1</td>
        <td>23</td>
        <td>17грн</td>
        <td>170грн</td>
        </tr>
        <tr>
        <td>1</td>
        <td>ТОвар 1</td>
        <td>23</td>
        <td>17грн</td>
        <td>170грн</td>
        </tr>
        <tr>
        <td colspan="4" style="text-align:right">Всього:</td><td>1168,80</td>
        </tr>
        <tr>

        </tr>
    </tbody>
    </table>
</div>



</div>